# .spyproject
.spyproject/

# ReplicatorBench gitignores

replicationbench/data/*
replicationbench/data/original/
replicationbench/data/original/**

# we still want to ignore datafiles and code inside original and anywhere esle
**/replication_data/** 
**/_logs/**
**/_runtime/**
**/_artifacts/**
**/.DS_Store


replicationbench/.env
**/__pycache__/**
replicationbench/info_extractor/__pycache__/
replicationbench/test_data/
replicationbench/.coverage


#Robustness gitignore
