# .spyproject
.spyproject/

# ReplicatorBench gitignores

replicatorbench/data/*
replicatorbench/data/original/
replicatorbench/data/original/**

# we still want to ignore datafiles and code inside original and anywhere esle
**/replication_data/** 
**/_logs/**
**/_runtime/**
**/_artifacts/**
**/.DS_Store


replicatorbench/.env
**/__pycache__/**
replicatorbench/info_extractor/__pycache__/
replicatorbench/test_data/
replicatorbench/.coverage


#Robustness gitignore
